{% extends 'base.html' %}

{% block title %} About us | {% endblock title %}

{% block body %}

<div class='container-fluid'>
    <h1> OUR STORY </h1>
   <p> Winning takes on many different forms. It’s not just about being the first to take the chequered flag. It’s also about exciting our fans, inspiring our people and delivering for our partners. And it’s about evolving our sport, our industry, our technology.

    It’s about being forever forward in everything we do.

    The McLaren Racing story began in 1963, and from day one we set an incredible pace. Today, we’re continuing our Forever Forward Pursuit of Better. And we’re building on the legacy you’ll find in every photograph. Through each team member, every day. And wherever you join us, you’ll play your part in our story.</p>
    
</div>

<div class="album py-5 bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/7651.png" width="420" height="250" />

            <div class="card-body">
              <p class="card-text">McLaren 720 S - Grey</p>
              <div class="d-flex justify-content-between align-items-center">
                                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="/static/7652.png" width="420" height="250" />

            <div class="card-body">
              <p class="card-text">McLaren - Yellow</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="/static/7653.png" width="420" height="250" />

            <div class="card-body">
              <p class="card-text">McLaren - Green</p>
              <div class="d-flex justify-content-between align-items-center">
                                
              </div>
            </div>
          </div>
        </div>

        
    
    </div>
</div>

{% endblock body %}