{% extends 'base.html' %}

{% block title %} Home | {% endblock title %}

{% block body %}
<div id="" class="container-fluid" style="text-align: justify">
<h1 align= "center" style="color:red;">McLaren</h1>

<p style="font-size:17px;">
  McLaren Automotive is a British luxury automotive manufacturer based at the McLaren Technology Centre in Woking, England. The main products of the company are sports cars, which are produced in-house in designated production facilities.
  McLaren is now in the business of building high-performance road cars that are capable of putting Lamborghinis and Ferraris to shame. So far, McLaren is one of the few remaining automakers that hasn't produced an SUV, sticking exclusively to exotic sports cars and hypercars. The British automaker's products all carry prices in the six-figure range, including the plug-in-hybrid Artura, the gorgeous 720S, and the GT grand tourer.
</p>
</div>

<div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade container-fluid" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="static/home1.png" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>McLaren Headquarter</h5>
          <p>This is the main headquarter of McLaren.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="static/home2.png" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>F1 Race Car</h5>
          <p>This is the formula 1 race car of McLaren.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/home3.png" class="d-block w-100"height="500" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cars</h5>
          <p>These are some of the show piece cars of McLaren.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


{% endblock body %}