{% extends 'base.html' %}

{% block title %} McLaren 720 S | {% endblock title %}

{% block body %}
    
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5 bg-info">
        <div class="col-lg-10 col-md-8 mx-auto">
          <h1 class="fw-dark">McLaren 720 S</h1>
          <p class="lead">The McLaren 720S is born of the McLaren design philosophy: everything for a reason. The powerful simplicity and integrity of this ethos shapes stunning cars. Through an intense, evolutionary process. The radical shape of the 720S is inspired by the teardrop. Nature’s perfect aerodynamic form. It takes this shape because it helps to deliver superlative performance. And aerodynamic efficiency. Every design detail is the same. Created to improve performance. Sharpen handling. Intensify engagement. Enhance comfort. Beautifully.</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-dark">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/720red.png" width="420" height="250" />
  
              <div class="card-body">
                <p class="card-text">McLaren 720 S - Red</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    
                  </div>
                  <small class="text-muted">1</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/720white.png" width="420" height="250" />
  
              <div class="card-body">
                <p class="card-text">McLaren 720 S - White</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    
                  </div>
                  <small class="text-muted">2</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/720black.png" width="420" height="250" />
  
              <div class="card-body">
                <p class="card-text">McLaren 720 S - Black</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    
                  </div>
                  <small class="text-muted">3</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/720orange.png" width="420" height="250" />
  
              <div class="card-body">
                <p class="card-text">McLaren 720 S - Orange</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    
                  </div>
                  <small class="text-muted">4</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/720grey.png" width="420" height="250" />
  
              <div class="card-body">
                <p class="card-text">McLaren 720 S - Grey</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    
                  </div>
                  <small class="text-muted">5</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/720blue.png" width="420" height="250" />
  
              <div class="card-body">
                <p class="card-text">McLaren 720 S - Blue</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    
                  </div>
                  <small class="text-muted">6</small>
                </div>
              </div>
            </div>
          </div>
  
          
        </div>
      </div>
    </div>
  
  </main>

{% endblock body %}