{% extends 'base.html' %}

{% block title %} McLaren 765 LT | {% endblock title %}

{% block body %}

    

<main>
  
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light";>
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">McLaren 765 LT</h1>
      <p class="lead fw-normal">At McLaren, we do not fear the unknown. We do not fear the challenge. The new McLaren 765LT has a legend to live up to: Longtail. Every car that’s carried this name has been unique. Extreme and utterly focused around the driver. All about maximum engagement. Searing performance. Sensational handling.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">HONED AGGRESSION</h2>
        <p class="lead">Uncompromising. Singular. Focused. shaped by the pursuit of driving purity. The 765LT. Taking the perfectly formed 720S closer to the edge. With a powerful presence and aggressive design language that deliver incredible performance. Less weight. More downforce. Aerodynamic innovation. Bespoke carbon fibre body panels shape an iconic elongated profile. Suspension is lowered. And the front track is wider. The message is clear: nothing gets in the way of dynamic ability. Everything is here for a reason. Inside the McLaren 765 Long Tail, the unblinking sense of purpose and minimal clarity continue. There’s lightweight Alcantara®. And the seats used in the awe-inspiring McLaren P1™. Sculpted carbon fibre is everywhere. The Longtail story continues.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-secondary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">PURSUIT OF LIGHTWEIGHT</h2>
        <p class="lead">Lighter is faster. And it begins with MonoCage II. An immensely strong, stiff, ultra-light chassis at the heart of each McLaren supercar. It’s a perfect base for radical weight saving. New carbon fibre body panels, motorsport-inspired polycarbonate glazing, a unique and dramatic titanium exhaust system, light dual-spring suspension… Longtail DNA is woven into everything. The result is a light supercar that weighs 80kg less than the immensely lean 720S. Settle into the lightweight seats within the sculpted, ultra-functional cabin and you’re surrounded by more innovative, engineered lightness. The carbon fibre centre tunnel is bespoke. Anything not connected to driver and track focus is gone. So there’s no air conditioning. Or carpeting. Or audio system. Less is more never felt so real and vivid. The 765LT can be specified to just 1,229kg in dry form.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-info me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">THRILLS, DISTILLED</h2>
        <p class="lead">Driver and car as one. A pure, undiluted connection. Every part of the McLaren 765LT is designed to make this relationship more telepathic than ever before. Beyond blistering performance and inspiring chassis dynamics, engagement is heightened in many ways. Sensitive tactile electro-hydraulic steering now has an even quicker rack. And a stiffened steering torsion bar. Making this track focused supercar’s responsiveness instant and true. The cabin is alive with sound and feel from the stunning powertrain. Each sensation is made more vivid by classic LT elements. Like the stiffer engine mounts and polycarbonate glazing. While the dramatic new quad-exit full-titanium exhaust gives spine-tingling voice to all 765PS. And adds to the sheer visual drama. Grip and cornering ability are next-level – with bespoke Pirelli P Zero™ Trofeo R tyres. The McLaren 765LT is changing the game in driver engagement.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">INTOXICATING POWER</h2>
        <p class="lead">The most powerful LT supercar ever made… 765PS and 800Nm of torque from a 4.0 litre twin-turbocharged V8. Optimised gear ratios – with a unique final drive built from Formula 1 grade materials. And like every Longtail before it, this powerful supercar is totally focused on maximising that incredible power. Through obsessive lightness. Optimised aerodynamics. Perfect mid-engine, rear wheel drive balance and track-focused dynamics. All combining to make the 765LT’s immense performance immensely usable. Exhaustive development has created a highly durable powertrain too. Because every Long Tail supercar is born to take on the extreme loads and high revs of the track. But also deliver consistent thrills on any road, every day. Unleashing the most potent McLaren LT to date will raise your pulse. 0-100km/h (0-62mph) takes just 2.8 seconds. 0-200km/h (0-124mph) takes only 7.0 seconds.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>

  
</main>

<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





{% endblock body %}